@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primaryColor: #39CDCC;
$secondaryColor: #213F7D;


:root{
    font-family: 'Work Sans', sans-serif;
    background-color: $primaryColor;
}